body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

text .marker-cluster-pie-label{
	color: #FFFFFF!important
}

#squares div {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
/*
    display: block;
    float: left;
*/

    width: 90%;
    height: auto;
/*    background: blue;*/

    /* a small margin to separate the blocks */
    margin: 10px;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

#header {
	padding: 5px 20px;
	font-size: 16px;
	white-space: nowrap;
	color: #FFFFFF !important;
	background-color: #000000 !important;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin: 2px;
}

#header:hover{
	color: #ffffff!important;
	background-color: #7E7E7E!important;
	text-decoration: none;
	cursor: pointer;
}

#Technology .badge {
  padding: 5px 20px;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  background-color: #337ab7;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
	margin: 2px;
}
#Technology .badge:hover {
  color: #ffffff;
	background-color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
#Sports .badge {
 padding: 5px 20px;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  background-color: rgb(5, 179, 5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
	margin: 2px;
}
#Mood .badge {
  padding: 5px 20px;
   font-size: 16px;
   white-space: nowrap;
   color: #fff;
   background-color: rgb(243, 125, 4);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   margin: 2px;
 }
 #Mood .badge:hover {
  color: #ffffff;
	background-color: rgb(243, 125, 4);
  text-decoration: none;
  cursor: pointer;
}
#Sports .badge:hover {
  color: #ffffff;
	background-color: rgb(5, 179, 5);
  text-decoration: none;
  cursor: pointer;
}
#Politics .badge {
 padding: 5px 20px;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  background-color: rgb(243, 243, 1);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
	margin: 2px;
}
#Politics .badge:hover {
  color: #000;
	background-color: rgb(243, 243, 1);
  text-decoration: none;
  cursor: pointer;
}

#Entertainment .badge {
 padding: 5px 20px;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  background-color: #a94442;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
	margin: 2px;
}
#Entertainment .badge:hover {
  color: #fff;
  background-color: #a94442;
  text-decoration: none;
  cursor: pointer;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
